<% content_for :title, 'My Orders' %>
<h2>My Open Orders</h2>
<%= render :partial => 'sandwich_table',
  :locals => {:admin => false, :sandwiches =>
               @sandwiches.select(&:open?).sort_by{|i| i.ordered_at} } %>

<h2>My Previous Orders</h2>
<%= render :partial => 'sandwich_table',
  :locals => {:admin => false, :sandwiches =>
               @sandwiches.reject(&:open?).sort_by{|i| i.ordered_at} } %>
